html {
    font-size: 14px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    display: grid;
    align-content: stretch;
    grid-template-columns: [menu-start] 
    calc(5rem + 18.75vw) [menu-end] 
    1fr [bar];
    grid-template-rows: [beeline-logo-start] 70px [beeline-logo-end] 
    1fr [side-menu] 240px [msg-lever];
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

button {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
}

.beeinterns-logo {
    grid-column-start: menu-start;
    grid-column-end: menu-end;
    grid-row-start: beeline-logo-start;
    grid-row-end: beeline-logo-end;
    background-color: rgb(52, 54, 70);
    border-bottom: 1px solid;
    border-color: rgba(216, 216, 216, 0.1);
    position: relative;
}

.beeinterns-logo img {
    position: absolute;
    width: 138px;
    height: 37px;
    left: 30px;
    top: 19px;
}

.bar {
    grid-column-start: menu-end;
    grid-column-end: bar;
    grid-row-start: beeline-logo-start;
    grid-row-end: beeline-logo-end;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: rgb(45, 46, 60);
    border-bottom: 1px solid;
    border-color: rgba(216, 216, 216, 0.1);
    position: relative;
}

.bar-links {
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
    padding-inline-start: calc(0.5rem + 3.33333vw);
}

.bar-links a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.bar-links span {
    margin-right: calc(1.5rem + 0.486vw);
    font-size: calc(0.5rem + 0.486vw);
}

.the-line {
    border-left: 1px solid;
    height: 24px;
    border-color: rgba(216, 216, 216, 0.1);
}

.bar-secondary {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: calc(0.5rem + 2.63889vw);
}

.bar-user-info {
    padding-inline-start: 0px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: flex-end;
}

.bar-user-info li {
    background-color: rgba(255, 255, 255, 0.06); 
    border-radius: 5px;
    text-align: center;
    margin-left: calc(0.35714rem + 0.20833vw);
    padding: 0px calc(0.35714rem + 0.27778vw);
}

.bar-user-info span {
    color: rgba(255, 255, 255, 1);
    font-size: calc(0.5rem + 0.42vw);
    line-height: calc(0.35714rem + 0.34722vw);
}

.hours {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    white-space: pre;
    padding: 1.5px calc(0.35714rem + 0.2083vw);
}

.hours img {
    max-width: 18px;
    max-height: 18px;
    margin-right: calc(0.5rem + 0.21vw);
}

.hours span {
    padding: 0px;
}

.hours span:nth-child(3) {
    font-size: 11px;
    line-height: 10px;
    color: rgba(255, 255, 255, 0.6); 
}

.bar-user {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    align-items: center;
    margin-left: calc(0.5rem + 0.486vw);
}

.bar-user img {
    max-width: 44px;
    max-height: 44px;
}

.bar-user span {
    color: rgba(255, 255, 255, 1);
    font-size: calc(0.5rem + 0.486vw);
    line-height: 10px;
}

.user-status {
    display: flex;
    flex-flow: column wrap;
    margin-left: calc(0.5rem + 0.42vw);
    margin-right: calc(0.5rem + 0.556vw);
}

.stat img {
    max-width: 6px;
    max-height: 6px;
    vertical-align: middle;
}

.stat span {
    font-size: calc(0.5rem + 0.42vw);
    color: rgba(36, 203, 141, 1);
    vertical-align: middle;
}

.user-privilege {
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    border-radius: 4px;
    text-transform: uppercase;
    padding: 2px 11px 2px 8px;
    transform: translateY(-50%);
}

.side-menu {
    grid-column-start: menu-start;
    grid-column-end: menu-end;
    grid-row-start: beeline-logo-end;
    grid-row-end: side-menu;
    background-color: rgba(52 ,54, 70, 1);
    border-bottom: 1px solid;
    border-color: rgba(216, 216, 216, 0.06);
}

.menu, .sub-menu-plan span, .sub-menu-lections span, .sub-menu-contacts span {
    font-size: calc(0.5rem + 0.486vw);
    list-style: none;
}

.menu {
    text-transform: uppercase;
    margin-top: 30px;
    line-height: 20.23px;
    padding-inline-start: 0px;
}

.menu li {
    margin-bottom: 15px;
}

.menu span, .menu summary {
    padding-left: calc(1.5rem + 0.625vw);
    color: rgba(255, 255, 255, 1);
}

.menu summary {
    display: inline;
}

.plan, .lections, .contacts {
    position: relative;
    cursor: pointer;
}

.arrow-plan, .arrow-lections, .arrow-contacts {
    display: inline-block;
    width: 10px;
    height: 6px;
    background-image: url("../ImagesTest/Arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: calc(1.5rem + 0.625vw);
    top: 10.115px;
    transform: translateY(-50%);
}
.plan:hover .arrow-plan {
    transform: rotate(-180deg);
    transition-duration: 0.66s;
}

.plan:not(:hover) .arrow-plan {
    transition-duration: 0.66s;
}

@keyframes pop-up {
    0% {opacity: 0; 
        margin-left: -40px;
    }
    100% {opacity: 1;
        margin-left: 0px;
    }
}

.sub-menu-plan, .sub-menu-lections, .sub-menu-contacts {
    line-height: 10px;
    padding-inline-start: 0px;
    cursor: pointer;
}

.sub-menu-plan li, .sub-menu-lections li, .sub-menu-contacts li {
    padding: 11px 0px;
    margin-bottom: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-transform: none;
}

.icon-container-lections {
    width: calc(1rem + 0.275vw);
    padding-left: calc(2.5rem + 1.042vw);
}

.sub-menu-lections img {
    max-width: calc(0.75rem + 0.521vw);
    max-height: calc(0.75rem + 0.521vw);
    opacity: 0.5;
}

.sub-menu-lections span {
    padding-left: 0px;
    margin-left: calc(1rem + 0.695vw);
    color: rgba(255, 255, 255, 0.5);
}

.sub-menu-lections li:hover {
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, 
    rgba(255, 255, 255, 0.1) 100%);
    border-left: 3px solid rgba(111, 110, 255, 1);
    padding-left: 0px;
}

.sub-menu-lections li:hover img {
    opacity: 1;
    filter: invert(44%) sepia(26%) saturate(7475%) hue-rotate(224deg) brightness(100%) contrast(102%);
}

.sub-menu-lections li:hover span {
    color: rgba(255, 255, 255, 1);
}

.icon-container-contacts {
    width: calc(1rem + 0.275vw);
    padding-left: calc(2.5rem + 1.042vw);
}

.icon-container-contacts img {
    max-width: 24px;
    max-height: 24px;
}

.sub-menu-contacts span {
    padding-left: 0px;
    margin-left: calc(1rem + 0.695vw);
    color: rgba(255, 255, 255, 0.5);
}

.sub-menu-contacts li:hover span {
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, 
    rgba(255, 255, 255, 0.1) 100%);
    border-left: 3px solid rgba(111, 110, 255, 1);
    padding-left: 0px;
}

.msg-lever {
    grid-column-start: menu-start;
    grid-column-end: menu-end;
    grid-row-start: side-menu;
    grid-row-end: msg-lever;
    background-color: rgb(52, 54, 70);
    display: flex;
    position: relative;
    font-size: calc(0.5rem + 0.486vw);
    line-height: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.msg-lever label {
    position: absolute;
}

.msg-lever label {
    left: calc(1.5rem + 0.625vw);
    bottom: calc(1.75rem + 0.868vw);
    display: flex;
    align-items: center;
} 

.msg-lever label:hover {
    text-decoration: underline;
}

.msg-lever label span {
    margin-right: calc(1.5rem + 2.7083vw);
    line-height: 10px;
}

.switch-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: calc(1.875rem + 1.09375vw);
    height: calc(0.9821rem + 0.573vw);
    position: relative;
    background-color: rgba(52 ,54, 70, 1);
    border: 1px solid rgba(255 ,255, 255, 0.2);
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.switch-button::after {
    content: "";
    display: inline-block;
    width: calc(0.7142rem + 0.42vw);
    height: calc(0.7142rem + 0.42vw);
    position: absolute;
    left: 1px;
    top: 2px;
    background-color: rgba(111, 110, 255, 1);
    border-radius: 50%;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.switch-button:not(:checked) {
    filter: grayscale(100%);
}

.switch-button:checked::after {
    transform: translateX(calc(100% + 4px));
  }

main {
    grid-column-start: menu-end;
    grid-column-end: bar;
    grid-row-start: beeline-logo-end;
    grid-row-end: msg-lever;
    background-color: rgb(45, 46, 60);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

main::-webkit-scrollbar {
    height: calc(0.375rem + 0.275vw);
}

main::-webkit-scrollbar-thumb {
    box-shadow: inset 0 calc(0.125rem + 0.14vw) calc(0.25rem + 0.275vw) rgba(111, 110, 255, 0.5);
    border-radius: 6px;
}

.main-list {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
    margin: calc(1rem + 0.764vw) calc(1.5rem + 1.31944vw) 
    calc(1rem + 0.42vw) calc(2.5rem + 1.38889vw);
}

.main-list-header {
    display: inline-block;
    margin: calc(2rem + 0.833vw) 0px
    0px calc(3rem + 0.903vw);
}

.main-list-scroll {
    display: inline-flex;
    margin-top: calc(2rem + 1.52778vw);
    position: absolute;
    left: 100%;
    transform: translateX(-126%);
}

.scroll-arrows {
    display: flex;
    flex-flow: row nowrap;
    margin-left: calc(0.5rem + 0.21vw);
}

.main-list-header h2 {
    font-size: calc(0.5rem  + 0.275vw);
    line-height: 15.9px;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}

.main-list-header h1 {
    font-size: calc(1rem + 0.55vw);
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    margin: 7px 0px 0px 0px;
}

.lections-all {
    font-size: calc(0.5rem + 0.347vw);
    line-height: 17.34px;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    border: none;
    white-space: nowrap;
    padding: 6.34px 12.915px;
}

.lections-all:hover {
    background:rgba(150, 150, 255, 1);
}

.lections-all:active {
    background:rgba(111, 110, 255, 0.5);
}

.scroll-arrow-left, .scroll-arrow-right {
    display: inline;
    width: 6px;
    height: 10px;
    padding: 14px;
    background-color: rgb(45, 46, 60);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    position: relative;
}

.scroll-arrow-left {
    margin-right: 5px;
}

.scroll-arrow-left img, .scroll-arrow-right img {
    max-width: 10px;
    max-height: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.scroll-arrow-left img {
    transform: translate(-50%, -50%) rotate(90deg);
}

.scroll-arrow-right img {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.scroll-arrow-left:hover, .scroll-arrow-right:hover {
    background-color:rgba(111, 110, 255, 1);
}

.scroll-arrow-left:active, .scroll-arrow-right:active {
    background-color:rgba(111, 110, 255, 0.5);
}

.main-list ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    padding-inline-start: 0px;
}

.scroll-arrow-right-1:hover .main-list ul {
    transform: (50px);
}

.main-list article {
    max-width: calc(10rem + 7.986vw);
    max-height: 294px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
}

.content-type {
    font-size: calc(0.5rem + 0.347vw);
    line-height: 12px;
    background: rgba(111, 110, 255, 1);
    padding: 4px 6px;
    border-radius: 3px;
    position: absolute;
    left: 22px;
    top: 19px;
}

.main-list ul img {
    max-width: 257px;
    max-height: 171px;
    display: block;
}

.list-element-info, .list-element-date {
    background-color: rgba(255, 255, 255, 0.04)
}

.list-element-info {
    padding-top: 14px;
    max-height: 79px;
}

.list-element-info h3 {
    font-size: calc(0.715rem + 0.42vw);
    color: rgba(255 ,255, 255, 1);
    font-weight: 400;
    line-height: 12px;
    margin: 0px 0px 10px 15px;
}

.list-element-info span {
    display: inline-block;
    font-size: calc(0.715rem + 0.275vw);
    max-width: 215px;
    max-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 18px;
    margin-left: 15px;
    padding-bottom: calc(1.5rem + 0.625vw);
    overflow: visible;
}

.list-element-date {
    max-height: 61px;
    border-top: 1px solid rgba(216, 216, 216, 0.1);
    height: calc(3rem + 1.32vw);
    position: relative;
}

.list-element-date label {
    font-size: calc(0.5rem + 0.41667vw);
    line-height: 10px;
}

.list-element-date span {
    position: absolute;
    left: 15px;
    bottom: 25px;
    font-size: calc(0.5rem + 0.41667vw);
}

.list-element-date button {
    position: absolute;
    font-size: calc(0.5rem + 0.41667vw);
    line-height: 10px;
    color: rgba(255 ,255, 255, 1);
    border: none;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    padding: calc(0.42857rem + 0.27778vw) calc(0.75rem + 0.55556vw);
    bottom: 15px;
    right: 15px;
}

.list-element-date button:hover {
    background: rgba(150, 150, 255, 1);
}

.list-element-date button:active {
    background: rgba(111, 110, 255, 0.5);
}

.main-burger, .b-logo {
    display: none;
}

@media all and (min-width: 667px) and (max-width:1040px) {
    .bar-secondary {
        display: flex;
        flex-flow: column nowrap;
        list-style: none;
        align-items: flex-end;
    }

    .bar-user-info {
        flex-flow: row nowrap;
        justify-content: space-around;
        margin-block-start: 0px;
        margin-block-end: 4px;
    }

    .bar-user-info li {
        padding: 0px 2px;
    }
    
    .hours {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        white-space: pre;
    }

    .hours img {
        max-width: 10px;
        max-height: 10px;
        margin-right: 0;
    }

    .bar-user {
        margin-left: 0;
    }

    .bar-user img {
        max-width: 30px;
        max-height: 30px;
    }

    .stat img {
        max-width: 6px;
        max-height: 6px;
    }
}

@media all and (max-width: 810px) {
    .all-lections .main-list-scroll {
        width: 160px;
        flex-wrap: wrap;
        margin-top: 15px;
    }

    .all-lections .main-list-scroll button{
        flex: 1 0 25%;
        margin-bottom: 5px;
    }
}

@media all and (max-width: 666px) {
    .main-burger {
        display: block;
        position: fixed;
        top: 75px;
        left: 5px;
    }

    .b-logo {
        display: block;
        position: fixed;
        top: 100%;
        right: 100%;
        transform: translate(100%, -100%);
    }

    .b-logo img {
        max-width: 28px;
        max-height: 28px;
        opacity: 0.5;
    }

    .main-burger img {
        max-width: 28px;
        max-height: 28px;
        opacity: 0.5;
    }

    .main-burger summary {
        display: inline;
    }

    .main-burger-border {
        border: 1px solid rgba(216, 216, 216, 0.1);
        border-radius: 6px;
        box-shadow: 0px 0px 2px 4px rgba(150, 150, 255, 0.35);
    }

    .bar {
        grid-column-start: menu-start;
        grid-column-end: bar;
        grid-row-start: beeline-logo-start;
        grid-row-end: beeline-logo-end;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    main {
        grid-column-start: menu-start;
        grid-column-end: bar;
        grid-row-start: beeline-logo-end;
        grid-row-end: msg-lever;
    }

    .bar-secondary {
        display: flex;
        flex-flow: column nowrap;
        list-style: none;
        align-items: flex-end;
    }

    .bar-user-info {
        flex-flow: row nowrap;
        justify-content: space-around;
        margin-block-start: 0px;
        margin-block-end: 4px;
    }

    .bar-user-info li {
        padding: 0px 2px;
    }
    
    .hours {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        white-space: pre;
    }

    .hours img {
        max-width: 10px;
        max-height: 10px;
        margin-right: 0;
    }

    .bar-user {
        margin-left: 0;
    }

    .bar-user img {
        max-width: 30px;
        max-height: 30px;
    }

    .stat img {
        max-width: 6px;
        max-height: 6px;
    }

    .menu {
        padding-inline-start: 0px;
        list-style: none;
        font-size: calc(0.5rem + 0.486vw);
        margin-top: 0px;
        margin-left: -8px;
    }

    .menu li {
        text-transform: uppercase;
        line-height: 20.23px;
        padding-inline-start: 0px;
    }

    .sub-menu-lections, .sub-menu-contacts {
        font-size: calc(0.5rem + 0.486vw);
        list-style: none;
        padding-left: 20px;
    }

    .icon-container-lections, .icon-container-contacts {
        display: inline-block;
        width: calc(1rem + 0.275vw);
        margin-right: 6px;
        padding-left: 6px;
    }

    .icon-container-lections img {
        max-width: 15px;
        max-height: 15px;
    }

    .msg-lever {
        padding-top: 32px;
    }

    .msg-lever label {
        bottom: 10px;
        left: 12px;
    }

    .msg-lever label span {
        margin-right: 16px;
    }

    .switch-button:checked::after {
        transform: translateX(95%);
      }

    .main-list-scroll {
        margin-top: 15px;
        flex-flow: column nowrap;
    }

    .all-lections .main-list-scroll {
        flex-flow: row wrap;
    }

    .lections-all {
        margin-bottom: 5px;
    }

    .main-list {
        margin: calc(1rem + 0.764vw) calc(1.5rem + 1.31944vw) 
        calc(1rem + 0.42vw) calc(0.5rem + 1.38889vw);
    }
}


@media all and (max-width: 404px) {
    .b-logo img {
        max-width: 25px;
        max-height: 25px;
        opacity: 0.5;
    }

    .main-burger img {
        max-width: 25px;
        max-height: 25px;
        opacity: 0.5;
    }

    .bar-links {
        flex-flow: column nowrap;
    }

    .lections-all {
        padding: 3px;
    }

    .scroll-arrows {
        margin-left: 0px;
    }

    .the-line {
        position: absolute;
        top: 50%;
        left: calc(4rem + 3.9603vw);
        transform: translateY(-50%);
    }
}