html {
    font-size: calc(0.625rem + 0.42vw);
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: rgba(64, 64, 64, 0.5);
}

a {
    text-decoration: none;
}

.widthController {
    max-width: 1200px;
    margin: 0 auto;
}

.upperHeader {
    display: flex;
    justify-content: space-between;
    margin-top: calc(0.75rem + 0.55vw);
    font-size: calc(0.5rem + 0.275vw);
}

.upperHeader ul {
    margin-bottom: 0px;
}

.upperHeader li {
    display: inline-block;
    margin-left: calc(1rem + 0.97vw);
    text-align: right;
}

.beeInterns {
    text-align: center;
    font-size: calc(3rem + 2.92vw);
    color: #444;
}

.mainLine{
    margin-top: calc(0.375rem + 0.275vw);
    padding: calc(0.75rem + 0.55vw) 0px;
    border-radius: calc(0.25rem + 0.275vw);
    background-color: #444;
    color: white;
}

.mainLine ul {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
}

.mainLine ul li{
    display: inline-block;
    margin-right: calc(1.75rem + 0.83vw);
}

@media all and (min-width: 666px) and (max-width: 768px) {
    .mainLine {
        flex-wrap: nowrap;
    }

    .mainLine li {
        white-space: nowrap;
    }
}

@media all and (min-width: 415px) and (max-width: 665px) {
    .mainLine {
        flex-wrap: nowrap;
        overflow: auto;
        padding-bottom: calc(0.375rem + 0.275vw);
    }

    .mainLine::-webkit-scrollbar {
        width: calc(0.375rem + 0.275vw);
    }

    .mainLine::-webkit-scrollbar-thumb {
        box-shadow: inset 0 calc(0.125rem + 0.14vw) calc(0.25rem + 0.275vw) rgba(200, 200, 200, 0.5);
    }

    .mainLine li {
        white-space: nowrap;
    }
}

@media all and (max-width: 414px) {
    .mainLine {
        flex-wrap: nowrap;
        overflow: auto;
        margin-left: -8px;
        margin-right: -8px;
    }

    .mainLine::-webkit-scrollbar {
        width: calc(0.375rem + 0.275vw);
    }

    .mainLine::-webkit-scrollbar-thumb {
        box-shadow: inset 0 calc(0.125rem + 0.14vw) calc(0.25rem + 0.275vw) rgba(200, 200, 200, 0.5);
    }

    .mainLine li {
        white-space: nowrap;
    }
}

ul {
    list-style: none;
    margin-top: 0px;
}

h1 {
    margin-top: calc(1.75rem + 0.83vw);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: calc(2rem + 0.55vw);
    color: #444;
}

p {
    font-size: calc(1rem + 0.275vw);
    margin-bottom: calc(1.25rem + 0.49vw);
}

.pics {
    display: flex;
    justify-content: space-between;
}

.list-pics {
    flex-basis: 49.75%;
    padding-inline-start: 0px;
    margin-bottom: 0px;
    justify-content: space-between;
}

.list-pics li {
    position: relative;
}

.list-pics2 {
    flex-basis: 49.75%;
    padding-inline-start: 0px;
    margin-bottom: calc(1.25rem + 0.49vw);
    justify-content: space-between;
}

.list-pics2 li {
    position: relative;
}

.headers-big-photo, .headers-small-photo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0; 
    left: 0;
    text-align: center;
}

.headers-big-photo span, .headers-small-photo span {
    display: list-item;
    color: white;
}

.headers-big-photo span:first-child {
    font-size: calc(2rem + 2.25vw);
}

.headers-big-photo span:nth-child(2) {
    font-size: calc(0.625rem + 0.7vw);
}

.headers-small-photo span:first-child {
    font-size: calc(1.125rem + 1.25vw);
}

.headers-small-photo span:nth-child(2) {
    font-size: calc(0.75rem + 0.275vw);
}

.list-pics img, .list-pics2 img {
    max-width: 100%;
}

.small-pics {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: calc(0.125rem+0.07vw);
}

.small-pics li {
    flex-basis: 49.25%;
}

@media all and (max-width: 414px) {

    .pics {
        flex-flow: column;
    }

    .list-pics2 li:first-child {
        margin-bottom: 3px;
    }

    .list-pics2 {
        flex-wrap: wrap;
    }

    .list-pics2 li {
        flex-basis: 49%;
        margin-bottom: 3px;
    }
}

.infoBlocks {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.events {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 2px solid;
    max-width: 810px;
}

.inEvents {
    width: 100%;
    margin: calc(0.75rem + 0.55vw) 0px 0px calc(1.25rem + 0.55vw);
}

.inEvents hr {
    margin-left: 0px;
    border: 1px solid;
    width: 41%;
}

.inEvents span {
    text-transform: uppercase;
    font-size: calc(0.75rem + 0.42vw);
    color: black;
    padding-left: calc(0.125rem + 0.14vw);
}

.eventsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0px;
    margin: 0px calc(0.375rem + 0.42vw); 
}

.eventsList li {
    flex-basis: 46%;
}

.event1 {
    background: url(../Images/Tile-Big-01.png);

}

.event1 span {
    background-color: rgb(64, 134, 210);
}

.event2 {
    background: url(../Images/Tile-Big-02.png);
}

.event2 span {
    background-color: rgb(106, 195, 127);
}

.event3 {
    background: url(../Images/Tile-Big-03.png);
}

.event3 span {
    background-color: rgb(210, 121, 198);
}

.event4 {
    background: url(../Images/Tile-Big-04.png);
}

.event4 span {
    padding: calc(0.125rem + 0.14vw) calc(0.625rem + 0.42vw) calc(0.125rem + 0.14vw) calc(0.25rem + 0.275vw);
    text-transform: uppercase;
    font-size: calc(0.5rem + 0.42vw);
    color: black;
    background-color: rgb(255, 175, 106);
}

.event1, .event2, .event3, .event4 {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1.8/1;
}

.event1 span, .event2 span, .event3 span, .event4 span {
    padding: calc(0.125rem + 0.14vw) calc(0.625rem + 0.42vw) calc(0.125rem + 0.14vw) calc(0.25rem + 0.275vw);
    text-transform: uppercase;
    font-size: calc(0.5rem + 0.42vw);
    color: black;
    position: absolute;
    bottom: 0;
}

.eventsInfo span {
    display: list-item;
}

.eventsInfoTopic {
    margin: calc(0.25rem + 0.275vw) auto;
    font-size: calc(0.75rem + 0.275vw);
    color: black;
}

.eventsInfoDate {
    font-size: calc(0.5rem + 0.275vw);
}

.downLoadButton {
    width: 260px;
    padding: calc(1.25rem + 0.55vw) 0px;
    text-align: center;
    align-self: center;
    margin: calc(2.5rem + 1.4vw) auto calc(1.75rem + 0.83vw) auto;
    color: white;
    font-size: calc(0.5rem + 0.55vw);
    border-radius: calc(0.125rem + 0.14vw);
    background-color:rgb(106, 195, 127);
}

.infoBlock2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    flex-basis: 30%;
    max-width: 350px;
}

.soc {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
    margin-bottom: calc(1.75rem + 0.83vw);
    max-width: 350px;
    max-height: 200px;
}

.inSoc {
    color: black;
    width: 100%;
    margin: calc(0.75rem + 0.55vw) 0px 0px calc(0.75rem + 0.55vw);
}

.inSoc span {
    text-transform: uppercase;
    font-size: calc(0.75rem + 0.42vw);
    padding-left: calc(0.125rem + 0.14vw);
}

.inSoc hr {
    width: 46.5%;
    margin: 0px;
    margin-top: calc(0.375rem + 0.42vw);
    border-width: 2px 0px;
}

.hrLine {
    margin: -4px 20px 0px auto;
    width: 45%;
    height: 1px;
}

.socNet {
    width: 72%;
    margin: calc(1.75rem + 0.83vw) auto;
    padding-left: 0px;
    font-size: calc(0.5rem + 0.275vw);
    display: flex;
    justify-content: space-between;
}

.socNet span {
    display: inline-block;
}

.facebook, .insta, .twitty {
    max-width: 45px;
}

.facebook img {
    max-width: 45px;
    padding: 0px 1px;
}

.facebook span {
    margin: 16px 0px 0px -4px;;
}

.insta {
    max-width: 45px;
}

.insta img {
    max-width: 45px;
    padding: 0px 1px;
}

.insta span {
    margin: 16px 0px 0px 0px;
}

.twitty {
    max-width: 45px;
}

.twitty img {
    max-width: 45px;
    padding: 0px 1px;
}

.twitty span {
    margin: 16px 0px 0px 4px;
}

.ppl {
    border: 2px solid;
    max-width: 350px;
}

.ppl ul {
    padding-left: 0px;
}

.avatar-container {
    position: relative;
    overflow: hidden;
    width: calc(4rem + 0.8vw);
    height: calc(4rem + 0.8vw);
}

.users img {
    max-width: 67px;
    max-height: 67px;
    width: calc(3.5rem + 0.7vw);
    height: calc(3.5rem + 0.7vw);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.users li:first-child {
    margin-top: calc(1.75rem + 0.83vw);
}

.users li {
    display: flex;
    margin: calc(0.75rem + 0.55vw) 0px 0px calc(0.75rem + 0.55vw);
}

.userInfo {
    margin: calc(0.625rem + 0.42vw) 0px 0px calc(0.625rem + 0.42vw);
}

.userInfo span {
    display: list-item;
}

.userName {
    font-size: calc(0.625rem + 0.42vw);
    color: black;
}

.userProf {
    font-size: calc(0.5rem + 0.42vw);
}

@media all and (min-width: 415px) and (max-width: 768px) {


    .infoBlocks {
        max-width: 768px;
    }

    .events {
        flex-basis: 66%;
    }

    .eventsList {
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .inEvents {
        margin-left: calc(0.625rem + 0.42vw);
    }

    .inEvents span {
        font-size: calc(0.5rem + 0.42vw);
    }

    .inEvents hr {
        margin-top: calc(0.25rem + 0.14vw);
        width: 21%;
    }

    .eventsList li {
        flex-basis: 48%;
    }

    .event1 span, .event2 span, .event3 span, .event4 span {
        padding: 2px calc(1.5rem + 0.55vw) 2px calc(0.375rem + 0.275vw);
    }

    .downLoadButton {
        width: 40%;
        text-align: center;
        align-self: center;
    }

    .inSoc {
        width: 100%;
    }

    .inSoc hr {
        margin-top: calc(0.25rem + 0.14vw);
        width: 50%;
    }

    .hrLine {
        margin: -4px 16px 0px 100px;
    }

    .socNet {
        margin: calc(0.75rem + 0.55vw) auto;
    }

    .facebook, .insta, .twitty {
        width: 35px;
    }

    .facebook img, .insta img, .twitty img {
        width: 35px;
    }

    .users li {
        margin-left: calc(0.375rem + 0.275vw);
    }

    .users li:first-child {
        margin-top: calc(0.75rem + 0.55vw);
    }
}

@media all and (max-width: 414px) {

    .infoBlocks {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 414px;
    }

    .infoBlock2 {
        max-width: none;
        flex-basis: 100%;
        margin-top: calc(1.75rem + 0.83vw);
    }

    .inEvents {
        width: 60%;
    }

    .inEvents hr {
        width: 32%;
    }

    .hrLine {
        width: 25%;
        margin: -4px 16px 0px 80px;
    }

    .eventsList li {
        flex-basis: 98%;
    }

    .event1, .event2, .event3, .event4 {
        aspect-ratio: 3/1;
    }

    .soc, .ppl {
        max-width: 414px;
    }

    .inSoc {
        width: 100%;
    }

    .inSoc span {
        font-size: 12px;
    }

    .inSoc hr {
        margin-top: 6px;
        width: 23%;
    }

    .socNet {
        margin: 40px;
        margin-left: 50px;
    }

    .facebook span, .insta span, .twitty span {
        font-size: 14px;
    }

    .userInfo span:first-child {
        font-size: 14px;
    }

    .userInfo span:nth-child(2) {
        font-size: 12px;
    }

    .avatar-container {
        width: 67px;
        height: 67px;
    }

    .users img {
        width: 100%;
        height: 100%;
    }

    .downLoadButton {
        width: 40%;
        text-align: center;
        align-self: center;
        margin-left: calc(0.375rem + 0.42vw);
    }
}

.lections {
    max-width: 1200px;
    background-color: rgb(240, 240, 240);
    margin: calc(1.75rem + 0.83vw) auto;
}

.inLections {
    display: inline-block;
    width: 100%;
    margin: calc(0.75rem + 0.55vw) 0px 0px calc(0.75rem + 0.55vw);
}

.inLections hr {
    margin-left: 0px;
    width: 6%;
    border: 1px solid;
}

.inLections span {
    text-transform: uppercase;
    color: black;
    font-size: calc(0.75rem + 0.42vw);
}

.listLections {
    display: flex;
    justify-content: space-around;
    padding: calc(0.75rem + 0.55vw) calc(0.375rem + 0.42vw) calc(1.75rem + 0.83vw);
    margin-bottom: 0px;
}

.listLections li {
    flex-basis: 24%;
}

.lection1, .lection2, .lection3, .lection4 {
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1.42/1;
}

.lection1 {

    background-image: url(../Images/video-01.png);
}

.lection2 {

    background-image: url(../Images/video-02.png);
}

.lection3 {

    background-image: url(../Images/video-03.png);
}

.lection4 {

    background-image: url(../Images/video-04.png);
}

@media all and (min-width: 415px) and (max-width: 768px) {
    .inLections hr {
        width: 13%;
    }
}

@media all and (max-width: 414px) {    
    .lections {
        display: flex;
        flex-flow: column wrap;
        overflow: auto;
        margin-left: -8px;
        margin-right: -8px;
    }

    .inLections span {
        font-size: 12px;
    }
    
    .inLections hr {
        width: 20%;
    }

    .listLections li {
        width: 160px;
        flex-wrap: nowrap;
    }

    .lections::-webkit-scrollbar {
        width: calc(0.375rem + 0.275vw);
    }

    .lections::-webkit-scrollbar-thumb {
        box-shadow: inset 0px calc(0.125rem + 0.14vw) calc(0.25rem + 0.275vw) rgba(160, 160, 160, 0.5);
    }
}

.nws {
    border: 2px solid;
    width: calc(45rem + 6.25vw);
    max-width: 810px;
    max-height: calc(20rem + 5.55vw);
    overflow: auto;
    overflow-x: hidden
}

.nws::-webkit-scrollbar {
    width: calc(0.375rem + 0.275vw);
}

.nws::-webkit-scrollbar-thumb {
    box-shadow: inset 0 calc(0.125rem + 0.14vw) calc(0.25rem + 0.275vw) rgba(100, 100, 100, 0.5);
}

.inNws {
    width: 100%;
    margin: calc(0.75rem + 0.55vw) 0px 0px calc(0.75rem + 0.55vw);
}

.inNws span {
    text-transform: uppercase;
    font-size: calc(0.75rem + 0.42vw);
    padding-left: calc(0.125rem + 0.14vw);
    color: black;
}

.inNws hr {
    margin: 0px;
    margin-top: calc(0.375rem + 0.42vw);
    border-width: 2px 0px;
    width: 25%;
}

.nwsHrLine {
    margin: -4px 490px 0px auto;
    width: 12%;
    height: 1px;
}

.nwsArticles {
    padding-left: 0px;
}

.nwsArticles li {
    display: flex;
    padding-left: 0px;
    margin: calc(0.625rem + 0.42vw) calc(1.5rem + 0.55vw) calc(0.625rem + 0.42vw) calc(0.75rem + 0.55vw);
}

.nwsArticles img {
    aspect-ratio: 1.36/1;
}

.nwsArticles hr {
    width: 85%;
    margin-left: calc(0.75rem + 0.55vw);
}

.nwsPhoto li {
    display: flex;
    margin: calc(0.75rem + 0.55vw) 0px 0px calc(0.75rem + 0.55vw);
}

.nwsInfo {
    margin: calc(0.25rem + 0.275vw) 0px 0px calc(0.625rem + 0.42vw);
}

.nwsInfo span {
    display: list-item;
}

.nwsTopic {
    text-transform: uppercase;
    font-size: calc(0.75rem + 0.275vw);
    color: black;
}

.nwsPitch {
    font-size: calc(0.5rem + 0.42vw);
}

.nwsDate {
    font-size: calc(0.5rem + 0.275vw);
    margin-top: calc(0.375rem + 0.42vw);
}

.reg {
    width: calc(17.5rem + 4.85vw);
    max-width: 350px;
    border: 2px solid;
}

.inReg {
    margin: calc(0.75rem + 0.55vw) 0px 0px calc(0.75rem + 0.55vw);
}

.inReg span {
    text-transform: uppercase;
    font-size: calc(0.75rem + 0.42vw);
    padding-left: calc(0.125rem + 0.14vw);
    color: black;
}

.inReg hr{
    width: 64%;
    height: 2px;
    background-color: black;
    margin: calc(0.375rem + 0.42vw) 0px 0px;
}

.regHrLine {
    margin: -4px 16px 0px auto;
    width: 29%;
    height: 1px;
}

.regForm {
    margin: calc(0.75rem + 0.55vw);
}

.tipInfo{
    font-size: calc(0.5rem + 0.42vw);
    font-weight: 400;
    color: black;
    width: 60%;
}

.regForm input {
    width: 90%;
    margin: calc(0.375rem + 0.42vw) auto;
    padding: calc(0.5rem + 0.42vw);
    font-size: calc(0.5rem + 0.42vw);
    border-radius: calc(0.25rem + 0.14vw);
    border-width: 1px;
}

.regForm input:focus {
    background-color: rgb(240, 240, 240);
    border-color:rgb(106, 195, 127);
}

.regForm input:hover {
    border-color: yellowgreen;
}

.regForm button {
    display: block;
    margin: calc(0.375rem + 0.42vw) 0px 0px auto;
    font-size: calc(0.5rem + 0.42vw);
    width: calc(6rem + 1.67vw);
    height: calc(2rem + 0.55vw);
    border-radius: calc(0.25rem + 0.14vw);
    background-color:rgb(106, 195, 127);
    border-width: 0px;
    color: white;
    cursor: pointer;
}

@media all and (min-width: 415px) and (max-width:768px) {
    
    .widthController {
        max-width: 720px;
    }

    .listBigPics img{
        max-width: 100%;
    }

    .listBigPics li:first-child {
        margin-right: calc(0.25rem + 0.14vw);
    }

    .listSmallPics img {
        max-width: 100%;
    }

    .nws {
        flex-basis: 66%;
        margin-right: 4%;
    }

    .inNws hr {
        width: 21%;
    }

    .nwsHrLine {
        margin: -4px 168px 0px auto;
        width: 38%;
        height: 1px;
    }

    .reg {
        flex-basis: 30%;
    }

    .inReg {
        margin-left: calc(0.375rem + 0.42vw);
    }

    .inReg hr {
        width: 36%;
    }

    .regHrLine {
        width: 55%;
        margin: -4px 12px 0px auto;
    }

    .tipInfo {
        width: 80%;
    }
    
    .regForm {
        margin: calc(0.75rem + 0.55vw) calc(0.375rem + 0.275vw);
    }

    .regForm input {
        padding-right: calc(0.25rem + 0.275vw);
    }
}

@media all and (max-width: 414px) {
    .nws {
        max-width: 414px;
    }

    .reg {
        margin: 40px 24px;
    }
}

footer {
    margin-top: calc(7.5rem + 4.15vw);
    font-size: calc(0.5rem + 0.55vw);
    background-color: #444;
    text-align: center;
    color: #AAA;
    padding: calc(2.5rem + 1.4vw) 0px;
}

footer a {
    color: inherit;
}

@media all and (min-width: 415px) and (max-width:768px) {
    html {
        font-size: 14px
    }
}
@media all and (max-width: 414px) {
    html {
        font-size: 14px;
    }
    
    footer {
        margin-left: -8px;
        margin-right: -8px;
    }
}